@model IEnumerable<smallclinicMVC.Models.Category>

@{
    ViewBag.Title = "Index";
}

<div class="col-md-12">
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Category", new { id = item.CategoryID })" class="btn btn-info">Edit</a>
                    <a href="@Url.Action("Delete", "Category", new { id = item.CategoryID })" class="btn btn-danger" >Delete</a>
                  
                </td>
            </tr>
        }

    </table>

</div>

   